.fstyle1 { 
font-family : Arial, Helvetica, sans-serif; 
font-size : 12px; 
font-weight : bolder; 
background : url(007bg.gif); 
} 
.fstyle2 { 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 12px; 
font-weight : normal; 
color : #fff; 
} 
.fstyle3 { 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 12px; 
font-weight : bold; 
background : url(007group.gif); 
} 
.fstyle4 { 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 18px; 
font-weight : bold; 
} 
.fstyle5 { 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 10px; 
font-weight : bold; 
} 
.fstyle6 { 
background : url(underline.gif) top; 
background-repeat : repeat-x; 
} 
.text4 { 
color : black; 
font-family : Arial, Helvetica, sans-serif; 
font-size : 11px; 
background : url(007pbg.gif); 
} 
.t { 
background : url(007top.gif) repeat-x 0% 0%; 
width : 800px; 
} 
.b { 
background : url(007bottom.gif) repeat-x 0% 100%; 
} 
.l { 
background : url(007leftside.gif) repeat-y 0% 0%; 
} 
.r { 
background : url(007rightside.gif) repeat-y 100% 0%; 
} 
.bl { 
background : url(007bottom-left.gif) no-repeat 0% 100%; 
} 
.br { 
background : url(007bottom-right.gif) no-repeat 100% 100%; 
} 
.tl { 
background : url(007top-left.gif) no-repeat 0% 0%; 
} 
.tr { 
background : url(007top-right.gif) no-repeat 100% 0%; 
padding-bottom : 55px; 
}